altgraph==0.17.5
customtkinter==5.2.2
darkdetect==0.8.0
macholib==1.16.4
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
setuptools==82.0.1
wheel==0.47.0
